<mat-expansion-panel>
  <mat-expansion-panel-header>
    <div class="avatar placeholderContainer" *ngIf="avatarUrl==='' || avatarUrl === null">
      <mat-icon>account_circle</mat-icon>
    </div>
    <img class="avatar" [src]="avatarUrl" alt="avatar" *ngIf="avatarUrl!=='' && avatarUrl !== null"/>
    <span class="mat-typography text-padding">{{firstName + " " + lastName}}</span>
  </mat-expansion-panel-header>
  <mat-list-item routerLink="/hub/account" [routerLinkActive]="['route-selected']">
    <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
    <span class="mat-typography text-padding">Account settings</span>
  </mat-list-item>
  <mat-list-item (click)="onLogoutClicked()">
    <mat-icon fontSet="material-icons-outlined">logout</mat-icon>
    <span class="mat-typography text-padding">Log out</span>
  </mat-list-item>
</mat-expansion-panel>
