<mat-expansion-panel #panel [class.active]="panel.expanded">
  <mat-expansion-panel-header matRipple [class.active]="panel.expanded">
    <div *ngIf="avatarUrl==='' || avatarUrl === null" class="avatar placeholderContainer">
      <mat-icon>account_circle</mat-icon>
    </div>
    <img *ngIf="avatarUrl!=='' && avatarUrl !== null" [ngSrc]="avatarUrl" alt="avatar" class="avatar"/>
    <span class="mat-typography text-padding">{{ firstName + " " + lastName }}</span>
  </mat-expansion-panel-header>
  <mat-list-item routerLink="/hub/account" routerLinkActive="active">
    <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
    <span class="mat-typography text-padding">Account settings</span>
  </mat-list-item>
  <mat-list-item (click)="onLogoutClicked()">
    <mat-icon fontSet="material-icons-outlined">logout</mat-icon>
    <span class="mat-typography text-padding">Log out</span>
  </mat-list-item>
</mat-expansion-panel>
