<h1 class="mat-headline-4" style="margin: 0">All Sets</h1>
<div class="page-content">
  <mat-form-field appearance="outline" (change)="onSearchTyped()">
    <mat-label>Search query</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="text" [formControl]="searchControl">
  </mat-form-field>
  <set-grid *ngIf="!isLoading && !isError" [sets]="currentSets" [mode]="'notOwner'"></set-grid>
  <div *ngIf="isLoading && !isError" class="loaderContainer">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <p *ngIf="currentSets.length===0 && !isLoading && !isError">Whooaaa, so empty here...</p>
  <error *ngIf="isError" componentName="All Sets" (retry)="onRetryClicked()"></error>
  <mat-paginator *ngIf="pagesCount !== 1" hidePageSize="true" [pageSize]="pageSize" [pageIndex]="currentPage"
                 [length]="pagesCount * pageSize" (page)="onPageChanged($event)">
  </mat-paginator>
</div>
