<h1 class="mat-typography">
  Set new password
</h1>
<h4 class="mat-typography">Your new secure password is</h4>
<form [formGroup]="passwordGroup">
  <mat-form-field appearance="outline">
    <mat-label>New password</mat-label>
    <input matInput formControlName="passwordControl">
    <mat-error>{{getPasswordErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>New password confirmation</mat-label>
    <input matInput formControlName="confirmationControl">
    <mat-error>{{getPasswordConfirmationErrorMessage()}}</mat-error>
  </mat-form-field>
</form>

<div class="buttonPosition">
  <button mat-flat-button [disabled]="passwordGroup.invalid" color="primary" (click)="onSetNewPasswordClicked()">Finish</button>
</div>
