<mat-drawer-container autosize>
  <mat-drawer [opened]="isShown" disableClose="true" mode="side" position="start">
    <div class="container">
      <div>
        <h4 class="mat-subheader subheader-margin">勉強!</h4>
        <mat-nav-list>
          <mat-list-item [routerLinkActiveOptions]="{exact : true}" routerLink="/hub" routerLinkActive="active">
            <mat-icon fontSet="material-icons-outlined">home</mat-icon>
            <span class="mat-typography text-padding">Home</span>
          </mat-list-item>
          <mat-list-item routerLink="/hub/my-sets" routerLinkActive="active">
            <mat-icon fontSet="material-icons-outlined">article</mat-icon>
            <span class="mat-typography text-padding">My Sets</span>
          </mat-list-item>
          <mat-list-item routerLink="/hub/all-sets" routerLinkActive="active">
            <mat-icon fontSet="material-icons-outlined">library_books</mat-icon>
            <span class="mat-typography text-padding">All sets</span>
          </mat-list-item>
          <mat-divider style="margin-top: 32px"></mat-divider>
          <p class="mat-subheader account-subheader-margin">Account</p>
          <account-info-list-item></account-info-list-item>
        </mat-nav-list>
      </div>
      <theme-change class="theme-change-icon"></theme-change>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div [@routeAnimations]="getHubRoutingAnimations()">
      <div class="pageContainer">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
