<mat-card class="accountInfoContainer">
  <h3 style="margin: 0; padding: 0">Summary</h3>
  <div class="topInfo">
    <img class="avatarClass" [src]="avatarUrl" *ngIf="avatarUrl!='' && avatarUrl != null">
    <div class="avatarClass placeholderContainer" *ngIf="avatarUrl=='' || avatarUrl == null">
      <mat-icon style="width: 50px; height: 50px; font-size: 50px">account_circle</mat-icon>
    </div>
    <p class="mat-typography">{{firstName + " " + lastName}}</p>
  </div>
  <div class="bottomStatistics">
  </div>
</mat-card>
