<mat-card class="accountInfoContainer">
  <h3 style="margin: 0; padding: 0">Summary</h3>
  <div class="topInfo">
    <div style="position: relative">
      <img class="avatarClass" [src]="fileImage===undefined ? avatarUrl : fileImage"
           *ngIf="(avatarUrl!=='' && avatarUrl !== null) || fileImage !== undefined">
      <div class="avatarClass placeholderContainer"
           *ngIf="(avatarUrl==='' || avatarUrl === null) && (fileImage === undefined)">
        <mat-icon style="width: 50px; height: 50px; font-size: 50px">account_circle</mat-icon>
      </div>
      <button mat-mini-fab color="accent" class="changeAvatar" (click)="fileInput.click()"
              *ngIf="currentTab == 1 && fileImage===undefined" [@changeButton]>
        <mat-icon>photo_camera</mat-icon>
      </button>
      <div class="changeAvatar discardConfirm" *ngIf="fileImage!==undefined">
        <button mat-mini-fab style="background: red" (click)="onDiscard()" *ngIf="currentTab == 1">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-mini-fab color="accent" (click)="onChange()" *ngIf="currentTab == 1">
          <mat-icon>done</mat-icon>
        </button>
      </div>
      <input type="file" hidden (change)="onFileSelected($event)" #fileInput id="file" accept="image/jpeg, image/jpeg">
    </div>
    <p class="mat-typography">{{firstName + " " + lastName}}</p>
  </div>
  <div class="bottomStatistics">
  </div>
</mat-card>
