<mat-card appearance="outlined" class="accountInfoContainer">
  <h3 style="margin: 0; padding: 0">Summary</h3>
  <div class="topInfo">
    <div style="position: relative">
      @if ((avatarUrl !== "" && avatarUrl !== null) || fileImage !== undefined) {
        <img class="avatarClass" [src]="fileImage === undefined ? avatarUrl : fileImage" />
      }
      @if ((avatarUrl === "" || avatarUrl === null) && fileImage === undefined) {
        <div class="avatarClass placeholderContainer">
          <mat-icon style="width: 50px; height: 50px; font-size: 50px">account_circle</mat-icon>
        </div>
      }
      @if (currentTab === 1 && fileImage === undefined) {
        <button mat-mini-fab color="accent" class="changeAvatar" (click)="fileInput.click()" [@changeButton]>
          <mat-icon>photo_camera</mat-icon>
        </button>
      }
      @if (fileImage !== undefined) {
        <div class="changeAvatar discardConfirm">
          @if (currentTab === 1) {
            <button mat-mini-fab style="background: red" (click)="onDiscard()">
              <mat-icon>close</mat-icon>
            </button>
          }
          @if (currentTab === 1) {
            <button mat-mini-fab color="accent" (click)="onChange()">
              <mat-icon>done</mat-icon>
            </button>
          }
        </div>
      }
      <input
        type="file"
        hidden
        (change)="onFileSelected($event)"
        #fileInput
        id="file"
        accept="image/jpeg, image/jpeg" />
    </div>
    <p class="mat-typography">{{ firstName + " " + lastName }}</p>
  </div>
  <div class="bottomStatistics"></div>
</mat-card>
