<div class="container">
  <div class="textAndLoader">
    <div>
      <h1 class="mat-typography">Hey there!</h1>
      <h4 class="mat-typography">We need you to log in before using 勉強！</h4>
    </div>
    <mat-progress-spinner *ngIf="isLoading" diameter="40" mode="indeterminate"></mat-progress-spinner>
    <mat-icon *ngIf="isSuccess" style="color:forestgreen; font-size: 40px; width: 40px; height: 40px">done</mat-icon>
  </div>
  <div class="fields">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input [disabled]="isLoading || isSuccess" [formControl]="loginControl" matInput placeholder="youremail@mail.com">
      <mat-error *ngIf="loginControl.invalid">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input [disabled]="isLoading || isSuccess" [formControl]="passwordControl" [type]="!isPasswordHidden ? 'password' : 'text'"
             matInput placeholder="Your very secure password">
      <button (click)="isPasswordHidden=!isPasswordHidden" mat-icon-button matSuffix>
        <mat-icon fontSet="material-icons-outlined">{{ isPasswordHidden ? "visibility_off" : "visibility_on" }}
        </mat-icon>
      </button>
      <mat-error *ngIf="passwordControl.invalid">{{ getPasswordErrorMessage() }}</mat-error>
    </mat-form-field>
    <a routerLink="/auth/forgot-password">I forgot my password</a>
  </div>
  <div class="buttons">
    <button (click)="onLoginClicked()" [disabled]="isLoading || isSuccess" color="primary" mat-flat-button>Login
    </button>
    <button (click)="onPasskeyLoginClicked()" *ngIf="isPasskeyAvailable" [disabled]="isLoading || isSuccess" color="warn"
            mat-flat-button>
      <div class="passkey">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,-25"
              rel="stylesheet"/>
        <span class="material-symbols-outlined passkey-padding">
          passkey
        </span>
        Passkey
      </div>
    </button>
    <p class="mat-typography suggestion-text">Don't have an account yet?</p>
    <button (click)="onRegistrationClicked()" [disabled]="isLoading || isSuccess" color="accent" mat-flat-button>
      Sign up
    </button>
  </div>
</div>
