.fields {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 32px;
}
.buttons {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 32px;
}

.container {
  width: 450px
}
