.buttons{
  margin-top: 24px;
  display: flex;
  justify-content: space-between
}
.registrationForm {
  display: flex;
  flex-direction: column;
}

.forms{
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .mat-horizontal-content-container{
  padding: 0;
}

:host ::ng-deep .mat-horizontal-stepper-header-container :first-child{
  padding-left: 0;
}

:host ::ng-deep .mat-horizontal-stepper-header-container :last-child{
  padding-right: 0;
}
