@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

@include mat.core();

$light-theme: mat.define-theme((
  color: (
    primary: mat.$violet-palette
  )
));

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette
  )
));

.light-theme {
  @include mat.all-component-themes($light-theme);
}

.dark-theme {
  @include mat.all-component-themes($dark-theme);
}
