<h1 class="mat-typography">
  Forgot password
</h1>
<h4 class="mat-typography">Don't worry! We just need some info to confirm your identity</h4>

<mat-stepper #stepper>
  <mat-step label="Email">
    <mat-form-field appearance="outline">
      <mat-label>Recovery email address</mat-label>
      <input type="email" matInput placeholder="youremail@mail.com" [formControl]="emailControl">
      <mat-error *ngIf="emailControl.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
  </mat-step>
  <mat-step label="Reset link sent">
    <h4 class="mat-typography" style="max-width: 550px">
      We sent email to {{emailControl.value}}, which will include password reset link.
      If you don't see anything, please check your Spam folder.</h4>
  </mat-step>
</mat-stepper>
<div class="buttons">
  <button mat-stroked-button (click)="onCancelClicked()" [ngClass]="{
          hidden:stepper.selectedIndex!=0
          }">Cancel
  </button>
  <button mat-flat-button (click)="stepper.selectedIndex == stepper.steps.length - 1 ? onFinishClicked() : onNextClicked()"
          color="primary">{{stepper.selectedIndex == stepper.steps.length - 1 ? "Finish" : "Next"}}</button>
</div>
