.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  column-gap: 8px;
}

.kanji {
  display: flex;
  font-size: 2.2em;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
}

.readingsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.readings {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  flex: 1;
}

:host::ng-deep .mat-form-field-wrapper{
  padding: 0;
}
