<div class="container">
  <div class="kanji">
    <mat-form-field appearance="outline">
      <mat-label>Kanji</mat-label>
      <input matInput class="inputSizeFix" [formControl]="kanjiControl" (change)="onKanjiCharChanged()">
      <mat-error>{{getKanjiError()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="readingsContainer">
    <div class="readings">
      <mat-form-field appearance="outline">
        <mat-label>Kunyomi</mat-label>
        <mat-chip-list #kunyomi>
          <mat-chip *ngFor="let kunyomiString of kanji.kunyomi">
            {{kunyomiString}}
            <button matChipRemove (click)="removeKunyomi(kunyomiString)">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>
        <input class="inputSizeFix"
               (focusin)="removeError('kunyomi')"
               [formControl]="kunyomiControl"
               [matChipInputFor]="kunyomi"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="addKunyomi($event)">
        <mat-error>{{getFieldError("kunyomi")}}</mat-error>
      </mat-form-field>
    </div>
    <div class="readings">
      <mat-form-field appearance="outline">
        <mat-label>Onyomi</mat-label>
        <mat-chip-list #onyomi>
          <mat-chip *ngFor="let onyomiString of kanji.onyomi">
            {{onyomiString}}
            <button matChipRemove (click)="removeOnyomi(onyomiString)">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>
        <input class="inputSizeFix"
               (focusin)="removeError('onyomi')"
               [formControl]="onyomiControl"
               [matChipInputFor]="onyomi"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="addOnyomi($event)">
        <mat-error>{{getFieldError("onyomi")}}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <button mat-icon-button (click)="onRemoveClicked()" [disabled]="!isRemoveAvailable">
    <mat-icon>playlist_remove</mat-icon>
  </button>
</div>
