.kanjiInfoContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  box-sizing: border-box;
}

.kanji{
  display: inline-flex;
  font-size: 2.2em;
  margin-top: 0;
  margin-bottom: 0;
  user-select: none;
  flex: 3;
  align-items: center;
  justify-content: center;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: black;
}

.kanjiReadings {
  display: flex;
  flex-direction: column;
  flex: 8;
  row-gap: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.reading {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  flex: 1;
  padding-left: 8px;
  padding-right: 8px;
}
