.centered{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.invalid {
  /* also need animation and -moz-animation */
  animation: shake .5s linear;
  border-color: red;
}
/* also need keyframes and -moz-keyframes */
@keyframes shake {
  8%, 41% {
    transform: translateX(-10px);
  }
  25%, 58% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-5px);
  }
  92% {
    transform: translateX(5px);
  }
  0%, 100% {
    transform: translateX(0);
  }
}

.success{

}

.default{

}


code-input{
  color: black;
  padding-top: 32px;
  max-width: 450px;
  --item-spacing: 24px;
  --item-height: 3em;
  --item-width: 1em;
}
