.buttons{
  margin-top: 24px;
  display: flex;
  justify-content: space-between
}

.registration{
  max-width: 650px;
}

.forms{
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .mat-horizontal-content-container{
  padding: 0;
}

:host ::ng-deep .mat-horizontal-stepper-header-container :first-child{
  padding-left: 0;
}

:host ::ng-deep .mat-horizontal-stepper-header-container :last-child{
  padding-right: 0;
}

:host ::ng-deep mat-step-header{
  pointer-events: none;
}

code-input{
  color: white;
  padding-top: 32px;
  max-width: 450px;
  --item-spacing: 24px;
  --item-height: 3em;
  --item-width: 1em;
}

.spinnerAndButton{
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}
