<h1 class="mat-typography">Registration</h1>
<div class="registrationForm">
  <mat-stepper #stepper [linear]="true" class="registration">
    <mat-step label="User information" state="creds">
      <user-information-step #userInformationStepComponent></user-information-step>
    </mat-step>
    <mat-step label="Password" state="password">
      <password-step #passwordStepComponent></password-step>
    </mat-step>
    <mat-step label="Terms" state="terms">
      <terms-step #termsStepComponent [isLoading]="isLoading"></terms-step>
    </mat-step>
    <mat-step label="Confirmation" state="confirmation">
      <email-confirmation-step #emailConfirmationStepComponent
                               [email]="userInformationStepComponent.credentialsFormGroup.controls.emailControl.value!"
                               [userId]="userId"></email-confirmation-step>
    </mat-step>
    <ng-template matStepperIcon="creds">
      <mat-icon>person</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="password">
      <mat-icon>key</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="terms">
      <mat-icon>article</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="confirmation">
      <mat-icon>done</mat-icon>
    </ng-template>
  </mat-stepper>
  <div *ngIf="!areButtonsHidden" class="buttons">
    <button (click)="onPreviousClicked()"
            [disabled]="isLoading"
            mat-stroked-button>
      {{stepper.selectedIndex == 0 ? "Cancel" : "Back"}}
    </button>
    <div class="spinnerAndButton">
      <mat-progress-spinner
        *ngIf="isLoading"
        color="primary"
        diameter="36"
        mode="indeterminate">
      </mat-progress-spinner>
      <button (click)="onNextClicked()"
              [disabled]="isLoading"
              color="accent"
              mat-flat-button>
        {{stepper.selectedIndex == stepper.steps.length - 1 ? "Finish" : "Next"}}
      </button>
    </div>
  </div>
</div>

