<mat-card class="set">
  <div class="topPart">
    <div>
      <mat-card-title>{{set.name}}</mat-card-title>
      <mat-card-subtitle>{{set.description}}</mat-card-subtitle>
    </div>
    <button *ngIf="mode=='owner'" mat-icon-button matTooltip="Remove set" matTooltipPosition="above"
            (click)="onRemoveClicked(set.id)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div>
    <mat-card-actions class="buttonsRight">
      <button mat-button (click)="openPreview()" [matTooltip]="'Preview'" matTooltipPosition="below">
        Preview
      </button>
      <button *ngIf="mode=='owner'" mat-button (click)="onEditClicked()">Edit</button>
      <button *ngIf="mode=='owner'" mat-flat-button color="accent" (click)="onStudyClicked()">Study!</button>
      <button *ngIf="mode=='notOwner'" mat-flat-button color="accent" (click)="onAddClicked()">Add</button>
    </mat-card-actions>
  </div>
</mat-card>
