<mat-card class="set">
  <div class="topPart">
    <div>
      <mat-card-title>{{set.name}}</mat-card-title>
      <mat-card-subtitle>{{set.description}}</mat-card-subtitle>
    </div>
    <button mat-icon-button matTooltip="Remove set" matTooltipPosition="above" (click)="onRemoveClicked(set.id)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="spaceBetween">
    <mat-card-content>
      <kanji-list [kanjiList]="set.kanjiList" [isOpened]="isOpened"></kanji-list>
    </mat-card-content>
    <mat-card-actions class="buttonsRight">
      <button mat-icon-button (click)="changeOpenedStatus()" [matTooltip]="!isOpened? 'Expand' : 'Collapse'" matTooltipPosition="below">
        <mat-icon>{{!isOpened ? "expand_more" : "expand_less"}}</mat-icon>
      </button>
      <button mat-button (click)="onEditClicked()">Edit</button>
      <button mat-flat-button color="accent" (click)="onStudyClicked()">Study!</button>
    </mat-card-actions>
  </div>
</mat-card>
