<form [formGroup]="passwordFormGroup" class="forms">
  <mat-form-field appearance="outline">
    <mat-label class="header-margin">Password</mat-label>
    <input formControlName="passwordControl" matInput placeholder="Your very secure password" type="password">
    <mat-error *ngIf="passwordFormGroup.controls.passwordControl">{{getPasswordErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label class="header-margin">Password confirmation</mat-label>
    <input formControlName="passwordConfirmationControl" matInput placeholder="Your very secure password confirmation"
           type="password">
    <mat-error
      *ngIf="passwordFormGroup.controls.passwordConfirmationControl">{{getPasswordConfirmationErrorMessage()}}</mat-error>
  </mat-form-field>
</form>
